In [1]:
from pandas import read_html

In [2]:
pip install lxml

WARNING: Ignoring invalid distribution -otebook (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -bformat (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -otebook (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -bformat (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.8.0)
WARNING: Ignoring invalid distribution -otebook (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -bformat (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -otebook (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -bformat (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -otebook (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -bformat (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -otebook (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -bformat (/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
filename = 'World_population_estimates.html'
tables = read_html(filename, 
                   header=0,
                   index_col=0,
                   decimal='M')

In [5]:
type(tables)

list

In [9]:
len(tables)

6

In [10]:
t1 = tables[0]
t2 = tables[1]
t3 = tables[2]
t4 = tables[3]
t5 = tables[4]
t6 = tables[5]

In [11]:
t1

,0.35–0.40,0.43–0.50,0.50–0.58,0.60–0.68,0.89–0.98,1.56–1.71,6.06–6.15,c. 10–13
population(in billions),,,,,,,,
growth p.a.[1],>0%,<0.12%,0.15–0.3%,0.1–0.15%,0.3–0.5%,0.5–0.6%,1.3–1.4%,0.7–0.8%

In [12]:
t2

,PRB (1973–2016)[15],UN (2015)[16],Maddison (2008)[17],HYDE (2010)[18],Tanton (1994)[19],Biraben (1980)[20],McEvedy & Jones (1978)[21],Thomlinson (1975)[22],Durand (1974)[23],Clark (1967)[24],Gapminder
Year,,,,,,,,,,,
−10000,NaN,NaN,NaN,2M[25],NaN,NaN,4.0,1–10M,NaN,NaN,4.0
−9000,NaN,NaN,NaN,4.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
−8000,5.,NaN,NaN,5.,NaN,NaN,NaN,NaN,5–10M,NaN,NaN
−7000,NaN,NaN,NaN,8.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
−6000,NaN,NaN,NaN,11.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
−5000,NaN,NaN,NaN,18M[25],NaN,NaN,5.0,5–20M,NaN,NaN,5.0
−4000,NaN,NaN,NaN,28.,NaN,NaN,7.0,NaN,NaN,NaN,7.0
−3000,NaN,NaN,NaN,45.,NaN,NaN,14.0,NaN,NaN,NaN,14.0
−2000,NaN,NaN,NaN,72.,NaN,NaN,27.0,NaN,NaN,NaN,27.0
−1000,NaN,NaN,NaN,115.,NaN,NaN,50.0,NaN,NaN,NaN,50.0
−500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
−200,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN,150.0
1,300M[26],300.0,231M[27],188M[25],150.0,255.0,170.0,200.,270–330M,256M[28],170.0
100,NaN,NaN,NaN,195.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,202.,NaN,256.0,190.0,NaN,NaN,NaN,190.0
300,NaN,NaN,NaN,205.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254.,NaN
400,NaN,NaN,NaN,209.,NaN,206.0,190.0,NaN,NaN,NaN,190.0
500,NaN,NaN,NaN,210M[25],NaN,206.0,190.0,NaN,NaN,NaN,190.0
600,NaN,NaN,NaN,213.,NaN,206.0,200.0,NaN,NaN,237.,200.0
700,NaN,NaN,NaN,226.,NaN,207.0,210.0,NaN,NaN,NaN,207.0
800,NaN,NaN,NaN,240.,NaN,224.0,220.0,NaN,NaN,261.,224.0
900,NaN,NaN,NaN,269.,NaN,226.0,240.0,NaN,NaN,NaN,226.0
1000,NaN,310.0,267.,295M[25],NaN,254.0,265.0,NaN,275–345M,280.,254.0
1100,NaN,NaN,NaN,353.,NaN,301.0,320.0,NaN,NaN,NaN,301.0
1200,NaN,NaN,NaN,393.,NaN,400.0,360.0,NaN,NaN,384.,400.0
1250,NaN,400.0,NaN,NaN,NaN,416.0,NaN,NaN,NaN,NaN,416.0
1300,NaN,NaN,NaN,392.,300.0,432.0,360.0,400.,NaN,NaN,432.0
1340,NaN,NaN,NaN,NaN,NaN,443.0,NaN,NaN,NaN,378.,443.0
1400,NaN,NaN,NaN,390.,NaN,374.0,350.0,NaN,NaN,NaN,374.0
1500,NaN,500.0,438.,461M[25],460.0,425.0,NaN,NaN,440–540M,427.,460.0
1600,NaN,NaN,556.,554M[25],NaN,579.0,545.0,NaN,NaN,498.,579.0
1650,(<700M)[14],NaN,NaN,NaN,NaN,NaN,545.0,500.,NaN,516.,579.0
1700,NaN,NaN,603.,603M[25],600.0,679.0,610.0,600.,NaN,641.,679.0
1750,NaN,791.0,NaN,814.,NaN,770.0,720.0,700.,735–805M,731.,770.0
1800,1000.,978.0,NaN,989M[25],900.0,954.0,900.0,900.,NaN,890.,985.0
1820,NaN,NaN,1042.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1093.0
1850,1265.,1262.0,NaN,1263.,NaN,1241.0,1200.0,1200.,NaN,NaN,1278.0
1870,NaN,NaN,1276.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1347.0
1875,NaN,NaN,NaN,NaN,NaN,NaN,1325.0,NaN,NaN,NaN,1383.0
1900,1656.,1650.0,1563.,"1,654M[25]",1600.0,1633.0,1625.0,1600.,"1,650–1,710M",1668.,1645.0
1910,NaN,1750.0,NaN,1777.,NaN,NaN,NaN,NaN,NaN,NaN,1790.0
1913,NaN,NaN,1793.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1829.0
1920,NaN,1860.0,1863.,1912.,NaN,NaN,NaN,NaN,NaN,1968.,1924.0
1925,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,NaN,NaN,NaN,2007.0
1930,NaN,2070.0,NaN,2092.,NaN,NaN,NaN,NaN,NaN,2145.,2100.0
1940,NaN,2300.0,2299.,2307.,NaN,NaN,NaN,NaN,NaN,2340.,2324.0

In [13]:
t3

,United States Census Bureau (2017)[29],Population Reference Bureau (1973–2016)[15],United Nations Department of Economic and Social Affairs (2015)[16],Maddison (2008)[17],HYDE (2007)[25],Tanton (1994)[19],Biraben (1980)[20],McEvedy & Jones (1978)[21],Thomlinson (1975)[22],Durand (1974)[23],Clark (1967)[24]
Year,,,,,,,,,,,
1950,2557628654,2.516000e+09,2.525149e+09,2.544000e+09,2.527960e+09,2.400000e+09,2.527000e+09,2.500000e+09,2.400000e+09,NaN,2.486000e+09
1951,2594939877,NaN,2.572851e+09,2.571663e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,2636772306,NaN,2.619292e+09,2.617949e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,2682053389,NaN,2.665865e+09,2.665959e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954,2730228104,NaN,2.713172e+09,2.716927e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2012,7013871313,7.057075e+09,7.080072e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,7092128094,7.136796e+09,7.162119e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,7169968185,7.238184e+09,7.243784e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,7247892788,7.336435e+09,7.349472e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,7325996709,7.418152e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
t4

,1,1000,1500,1600,1700,1820,1913,2000,2030
Year,,,,,,,,,
Asia,168 (74%),183 (69%),284 (65%),379 (68%),402 (67%),710 (68%),978 (55%),"3,605 (59%)","4,790 (59%)"
East/Southeast Asia,74 (33%),88 (33%),166 (38%),223 (40%),216 (36%),469 (45%),613 (34%),"1,996 (33%)","2,417 (30%)"
South Asia,75 (33%),75 (28%),110 (25%),135 (24%),165 (27%),216 (21%),326 (18%),"1,372 (23%)","2,003 (25%)"
Europe[31],34 (15%),40 (15%),78 (18%),112 (20%),127 (21%),224 (21%),498 (28%),742 (13%),829 (11%)
West Asia,19 (8%),20 (7%),18 (3%),21 (3%),21 (3%),25 (2%),39 (2%),237 (4%),370 (5%)
Africa,17 (8%),32 (12%),47 (11%),55 (10%),61 (10%),74 (7%),125 (7%),798 (13%),"1,449 (18%)"
South/Central America,6 (3%),11 (4%),18 (4%),9 (2%),12 (2%),22 (2%),81 (5%),520 (9%),702 (9%)
North America,1 (0%),1 (0%),2 (0%),2 (0%),1 (0%),11 (1%),105 (6%),314 (5%),413 (5%)
Oceania,0.4,0.4,0.6,0.6,0.6,0.4,5,23 (0%),28 (0%)
World,226,267,438,556,603,1041,1791,6062,8175
World growth p.a.,NaN,+0.0%,+0.1%,+0.2%,+0.1%,+0.5%,+0.6%,+1.4%,+1.0%

In [15]:
t5

,1,1000,1500,1600,1700,1820,1870,1900,1950,1973,1998[32]
Year,,,,,,,,,,,
Austria,500,700,2000,2500,2500,3369,4520,6767,6935,7586,8078
Belgium,300,400,1400,1600,2000,3424,5096,7666,8640,9738,10197
Denmark,180,360,600,650,700,1155,1888,2983,4269,5022,5303
Finland,20,40,300,400,400,1169,1754,3027,4009,4666,5153
France,5000,6500,15000,18500,21471,31246,38440,41463,41836,52118,58805
Germany,3000,3500,12000,16000,15000,24905,39231,65058,68371,78956,82029
Italy,7000,5000,10500,13100,13300,20176,27888,37248,47105,54751,57592
Netherlands,200,300,950,1500,1900,2355,3615,6164,10114,13438,15700
Norway,100,200,300,400,500,970,1735,2447,3265,3961,4432
Sweden,200,400,550,760,1260,2585,4164,5621,7015,8137,8851
Switzerland,300,300,650,1000,1200,1829,2664,3864,4694,6441,7130
United Kingdom,800,2000,3942,6170,8565,21226,31393,45649,50363,56223,59237
12 Countries Total,17600,19700,48192,62580,68796,114419,162388,227957,256616,301037,322507
Portugal,500,600,1000,1100,2000,3297,4353,6004,8512,8634,9968
Spain,4500,4000,6800,8240,8770,12203,16201,20263,27868,34810,39371
Other,2100,1113,1276,1858,1894,2969,4590,6783,12064,13909,16553
Total Western Europe,24700,25413,57268,73778,81460,132888,187532,261007,305060,358390,388399
Eastern Europe,4750,6500,13500,16950,18800,36415,52182,79604,87289,110490,121006
Former USSR,3900,7100,16950,20700,26550,54765,88672,156192,180050,249748,290866
United States,680,1300,2000,1500,1000,9981,40241,97606,152271,212909,270561
Other Western Offshoots,490,660,800,800,750,1249,5892,13795,23823,39036,52859
Total Western Offshoots,1170,1960,2800,2300,1750,11230,46133,111401,176094,250945,323420
Mexico,2200,4500,7500,2500,4500,6587,9219,14970,28485,57643,98553
Other Latin America,3400,6900,10000,6100,7550,14633,30754,65545,137352,250807,409070
Total Latin America,5600,11400,17500,8600,12050,21220,39973,80515,165837,308450,507623
Japan,3000,7500,15400,18500,27000,31000,34437,51672,83563,108660,126469
China,59600,59000,103000,160000,138000,381000,358000,437140,546815,881940,1242700
India,75000,75000,110000,135000,165000,209000,253000,303700,359000,580000,975000
Other Asia,36600,41400,55400,65000,71800,89366,119619,185092,392481,677214,1172243
Total Asia,171200,175400,268400,360000,374800,679366,730619,925932,1298296,2139154,3389943
Africa,16500,33000,46000,55000,61000,74208,90466,124697,228342,387645,759954
World,230820,268273,437818,555828,603410,1041092,1270014,1791020,2524531,3913482,5907680

In [16]:
t6

                                                   hide.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteGlobal human population.1
hide.mw-parser-output .navbar{display:inline;fo...
Major topics                                        Biocapacity Demographics of the world Human ov...
Biological andrelated topics                        Population biology Population decline Populati...
Populationecology                                   Earth's energy budget I = P × A × T Kaya ident...
Literature                                          A Modest Proposal Observations Concerning the ...
Publications                                        Population and Environment Population and Deve...
Lists                                               Population and housing censuses by country Met...
Events andorganizations                             7 Billion Actions International Conference on ...
Related topics                                      Deep ecology Fertility and intelligence Green ...
Commons  Human overpopulation Human activities ...  Commons  Human overpopulation Human activities...

In [17]:
type(t5)

pandas.core.frame.DataFrame